:root{
    --primary-color: #643dc1;
    --secondary-color: white;
    --tertiary-color: #450dc9;   
    --text-color: black;

    --title-font: 'Anton', sans-serif;
    --text-font: 'Inter', sans-serif;
}