* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    height: 97vh;
    overflow: hidden;
    padding: 10px;
}

.container {
    height: 100%;
    display: flex;
}

/* ------------------------left---------------------- */
.container>.left {
    background-color: var(--purple-color-light);
    height: 100%;
    width: 25%;
    border-radius: 25px;

}

.container>.left>.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
    margin: 10px 10px 0 10px;
}

.container>.left>.top>form {
    display: flex;
    justify-content: start;
    width: 100%;
}

.container>.left>.top>form>input {
    background-color: transparent;
    background-image: url(/img/deconnexion.png);
    background-position: center;
    background-size: cover;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.container>.left>.top>h1 {
    font-family: var(--title-font);
    letter-spacing: 2px;
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 2vw;
}

.container>.left>.confs {
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 0 20px;
    margin: 0 15px;
    overflow-y: scroll;
}

.confs::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.22);
    width: 10px;
    border-radius: 10px;
}

.confs::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.container>.left>.confs>.conf {
    background-color: var(--text-color);
    color: var(--purple-color-light);
    font-family: var(--text-font);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 15px;
    border-radius: 20px;
}

.container>.left>.confs>.conf>h1 {
    text-transform: uppercase;
    text-wrap: nowrap;
    text-align: center;
    font-size: 2vw;
}

.confs>.conf>.description{
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container>.left>.confs>.conf>.description>p {
    font-weight: bold;
    font-size: 1vw;
}

.container>.left>.confs>.conf>form>input {
    background-color: var(--purple-color-light);
    color: var(--text-color);
    border: none;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
}

.container>.left>.confs>.conf>form>input:hover {
    opacity: 50%;
}

/* -------------------------------------------------- */


/*-----------------middle v2--------------------*/
.middle {
    font-family: var(--text-font);
    width: 50%;
    padding: 0 15px;
}
.calendar{
    height: 100%;
    margin: 20px auto;
}
.calendar > h1 {
    font-family: var(--title-font);
    font-size: 2.5vw;
    text-align: center;
    color: var(--purple-color-light);
}
table {
    border-collapse: collapse;
    width: 100%;
    user-select: none;
}
th, td {
    border: 1px solid #ddd;
    width: 14.28%; /* 7 jours */
    height: 80px;
    text-align: center;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}
th {
    background-color: #f4f4f4;
    cursor: default;
}
td.inactive {
    color: #bbb;
    cursor: default;
    background: #fafafa;
}
td .day-number {
    display: block;
    font-weight: bold;
}

td .day-number:hover {
    color: var(--purple-color);
}

td.selected {
    background-color: var(--purple-color-light);
    color: #fafafa;
}
.nav {
    margin: 10px 0;
    text-align: center;
    height: 5%;
}
.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 15px;
    font-size: 18px;
}

.add-event{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-event > button{
    border: 2px solid var(--purple-color-light);
    background-color: var(--purple-color-light);
    color: var(--text-color);
    font-weight: bold;
    padding: 10px;
    border-radius: 10px ;
    cursor: pointer;
    transition: .5s;
}

.add-event > button:hover{
    background-color: var(--text-color);
    color: var(--purple-color-light);
}


/* -------------------------------------------------- */

/* ------------------------pop-up---------------------- */

.pop-up {
    display: none;
    background-color: var(--purple-color-light);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 25px;
}

.pop-up>.close {
    height: 5%;
}

.pop-up>.close>button {
    border: none;
    background-color: var(--text-color);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pop-up>.close>button>img {
    width: 20px;
}

.pop-up>.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.pop-up>.title>h1 {
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.pop-up>.inputs {
    height: calc(100% - 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up>.inputs>form {
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.pop-up>.inputs>form>input {
    padding: 10px;
    background-color: var(--text-color);
    color: var(--purple-color-light);
    font-weight: bold;
    border: none;
    border-radius: 10px;
}


.pop-up>.inputs>form>textarea {
    padding: 10px;
    background-color: var(--text-color);
    color: var(--purple-color-light);
    font-family: var(--text-font);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    height: 30%;
    resize: none;
}


.pop-up>.inputs>form>.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pop-up>.inputs>form>.buttons>input[type="reset"] {
    background-color: var(--text-color);
    color: var(--purple-color-light);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
}

.pop-up>.inputs>form>.buttons>input[type="submit"] {
    background-color: var(--purple-color);
    color: var(--text-color);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
}




/* -------------------------------------------------- */

/* ------------------------right---------------------- */

.container>.right {
    background-color: var(--purple-color-light);
    height: 100%;
    width: 25%;
    border-radius: 25px;
}

.container>.right>.top {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container>.right>.top>h1 {
    font-family: var(--title-font);
    letter-spacing: 2px;
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
}

.container>.right>.evenements {
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 0 20px;
    margin: 50px 15px 0 15px;
    overflow-y: scroll;
}
.container>.right>.evenements>p {
    font-family: var(--text-font);
    font-size: 1.25vw;
    text-align: center;
    color: var(--text-color);
}

.evenements::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.22);
    width: 10px;
    border-radius: 10px;
}

.evenements::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.container>.right>.evenements>.evenement {
    background-color: var(--purple-color);
    border-radius: 20px;
}

.container>.right>.evenements>.evenement>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container>.right>.evenements>.evenement>.top>h2 {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 1vw;
}

.container>.right>.evenements>.evenement>hr {
    background-color: var(--purple-color-light);
    width: 90%;
    margin: 0 auto;
    height: 2px;
    border: none;
}

.container>.right>.evenements>.evenement>.active {
    max-height: 500px;
    /* une hauteur suffisante pour ton contenu */
    opacity: 1;
}

.container>.right>.evenements>.evenement>.description {
    padding: 10px;
}

.container>.right>.evenements>.evenement>.description>p {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 1rem;
    padding: 0 15px;
}

.container>.right>.evenements>.evenement>form {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.container>.right>.evenements>.evenement>form>input {
    background-color: var(--text-color);
    color: var(--purple-color-light);
    font-family: var(--text-font);
    font-weight: bold;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.container>.right>.evenements>.evenement>form>input:hover {
    opacity: 50%;
}


.container>.right>.select-day{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container>.right>.select-day> p {
    font-family: var(--text-font);
    font-size: 1.25vw;
    text-align: center;
    color: var(--text-color);
}


/* -------------------------------------------------- */

.error-date {
    color: #d9534f;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d9534f;
    border-radius: 4px;
    text-align: center;
}
